target/
bin/
/target/
*.class

.classpath
.project
.settings


.idea/
*.iml
*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear
*.xls
*.springBeans

*.MF
*.bak
*.tmp

*~

/filesys-invoker/src/test/resources/context-redis.xml
